###############################################################################
# Mobile / PWA (Expo)
# Variables prefixed with EXPO_PUBLIC_ are embedded in the client bundle.
###############################################################################

EXPO_PUBLIC_API_URL=http://localhost:3000/api/v1
